{template 'header'}
<div class="page sl-addr" id="page-app-location">
	<header class="bar bar-nav">
		<a class="icon fa fa-arrow-left pull-left external" href="{php echo $this->createMobileUrl('index');}"></a>
		<a class="button button-link button-nav pull-right external" href="{php echo $this->createMobileUrl('address');}">新增地址</a>
		<h1 class="title">选择收货地址</h1>
	</header>
	<div class="bar bar-header-secondary">
		<div class="searchbar">
			<div class="search-input">
				<label class="icon search" for="search"></label>
				<input type="search" id='search' placeholder='请输入您的收货地址'/>
			</div>
		</div>
	</div>
	{template 'nav'}
	<div class="content">
		<div class="sl-addr-block">
			<ul class="sl-addr-block-ls">
				<li>定位地址</li>
				<li><div class="sl-addr-info" id="position"></div><a class="refresh" onclick="location.reload();return false;"></a></li>
			</ul>
		</div>
		{if !empty($addresses)}
			<div class="sl-addr-block">
				<ul class="sl-addr-block-ls">
					<li>我的收货地址</li>
					{loop $addresses $address}
					<li class="js-location" data-lat="{$address['location_x']}" data-lng="{$address['location_y']}" data-address="{$address['address']}" data-address-id="{$address['id']}">
						<div class="sl-addr-people"><span><i>{$address['realname']}</i>{$address['sex']}</span>{$address['mobile']}</div>
						<div class="sl-addr-info">{$address['address']} {$address['number']}</div>
					</li>
					{/loop}
				</ul>
			</div>
		{/if}
		<div class="search-end"><!--添加 search-end-blk 显示搜索结果-->
			<ul class="search-end-ls" id="search-end-ls"></ul>
		</div>
	</div>
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=4c1bb2055e24296bbaef36574877b4e2"></script>
<script>
$(function(){
	function getLocation() {
		$.showPreloader('获取位置中...');
		var map = new BMap.Map("allmap");
		var geolocation = new BMap.Geolocation();
		geolocation.getCurrentPosition(function(r){
			if(this.getStatus() == BMAP_STATUS_SUCCESS){
				getPositionInfo(r.point);
			} else {
				var myCity = new BMap.LocalCity();
				function myFun(result) {
					getPositionInfo(result.center);
				}
				myCity.get(myFun);
			}
		},{enableHighAccuracy: true})
	}

	function getPositionInfo(point) {
		$.hidePreloader();
		var geoc = new BMap.Geocoder();
		geoc.getLocation(point, function(rs){
			var addComp = rs.addressComponents;
			var position = addComp.city +  addComp.district +  addComp.street +  addComp.streetNumber;
			$('#position').html(position);
			$('#position').parent().attr('data-lat', point.lat);
			$('#position').parent().attr('data-address', position);
			$('#position').parent().attr('data-lng', point.lng);
		});
		return ;
	}
	getLocation();

	$('#search').bind('input', function(){
		$('#search-end-ls').parent().removeClass('search-end-blk');
		var key = $.trim($(this).val());
		if(!key) {
			return false;
		}
		$.post("{php echo $this->createMobileUrl('location', array('op' => 'suggestion'));}", {key: key}, function(data){
			var result = $.parseJSON(data);
			if(result.message.error != -1) {
				getAdress(result.message.message);
			}
		});
	});

	$('#search-end-ls, .sl-addr-block-ls').on('click', '.js-location', function(){
		var url = "{php echo $this->createMobileUrl('index', array('op' => 'index', 'd' => 1));}";
		var lat = !$(this).data('lat') ? '' : $(this).data('lat');
		var lng = !$(this).data('lng') ? '' : $(this).data('lng');
		url += '&aid=' + $(this).data('address-id') + '&address=' + $(this).data('address') + '&lat=' + lat + '&lng=' + lng;
		location.href = url;
		return false;
	});

	function getAdress(re){
		var addressHtml = '';
		for(var i=0; i < re.length; i++){
			addressHtml += '<li class="js-location" data-lng="'+re[i]['lng']+'" data-lat="'+re[i]['lat']+'" data-name="'+re[i]['name']+'" data-address="'+re[i]['address']+'">';
			addressHtml += '<div class="search-end-name">'+re[i]['name']+'</div>';
			addressHtml += '<div class="search-end-quyu"> '+re[i]['address_cn']+' </div>';
			addressHtml += '</li>';
		}
		$('#search-end-ls').html(addressHtml);
		$('#search-end-ls').parent().addClass('search-end-blk');
	}
});
$.config = {router: false}
</script>
{template 'common'}
{template 'footer'}